version: "3.9"

services:
  web:
    build: .
    container_name: notes-app
    ports:
      - "5000:3000"
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
    environment:
      - MONGODB_URI=mongodb://mongo:27017/notesdb
      - PORT=3000
      - NODE_ENV=development
    command: /bin/sh -c "npm install && npm run dev"

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
