services:
  - type: web
    name: nodejs-notes-app
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        sync: false
      - key: MONGODB_URI
        sync: false
    plan: free
    autoDeploy: false
